# ignore these files/folders
.*
*.log
*.lock
node_modules
/coverage
/dist
/build
/example

# allow these files/folders
!.gitignore
!.nvmrc
!.firebaserc*
!.stylelintrc*
!.eslintrc*
!.eslintignore
!.postcssrc
!.editorconfig
!.babelrc
